<html>
  <head>
    <meta charset='utf-8' />
    <title>Reddit.js</title>
    <link rel='stylesheet' href='../../public/styles.css' type='css/text' />
    <script src='https://cdn.tailwindcss.com'></script>
  </head>
  <body>
    <div class='container'>
      {{{body}}}
    </div>
  </body>
</html>
